<!doctype html>

<html>


<head>
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>

    <div id="photo"></div>

    <div>
        <h1 style=" position: absolute;
        width: 919px;
        height: 180px;
        left: 116px;
        top: 177px;">
            Migrant <br>
            Misrepresentation
        </h1>

        <p class="paragraph1" style="position: absolute;
        width: 909px;
        height: 364px;
        left: 126px;
        top: 470px;">
            Newspapers play a critical role in articulating, shaping, and distributing public opinions.
            Media framing on migrants in the United States can powerfully influence how the public perceives the
            community.
            Understanding how newspapers discuss migrants can illuminate the rationale behind pro- or anti-immigration
            sentiments.
            <br>
            <br>
            <br>
            <b>
                Despite the prominence of immigration-related debates, there is a lack of data-based
                analyses on how migrants are portrayed in American media.

            </b>
        </p>

    </div>

    <div>
        <p2 class="learnMore" style="position: absolute;
            width: 330px;
            height: 100px;
            left: 555px;
            top: 800px;">
            <b>
                Learn More <br>
                &#8964;
                &#8964;
                &#8964;

            </b>
        </p2>
    </div>


    <div class="row">

        <div class="col-sm" style="background-color: #F8F3E7;
            position: absolute;
            width: 10000px;
            height: 1150px;
            top: 1000px;">


            <h2 class="aboutTitle" style="position: absolute; width: 408px; height: 44px; left: 121px;">
                About & Methodology</h2>

            <p class="paragraph2" style="position: absolute;
            width: 468px;
            height: 549px;
            left: 121px;
            top: 70px;">
                Starting from April 2, 2013, the AP (Associated Press) style books no longer permit the term “illegal
                immigrant” or the use of “illegal” to describe a person except for the use in the direct quotes.
                Following AP’s lead, major news outlets such as the Chicago Tribune, the Los Angeles Times, and USA
                Today abandoned the use of the phrase “illegal immigrant.”
            </p>

            <br>
            <br>
            <br>

            <p class="paragraph3" style="position:absolute;
            width: 468px;
            height: 549px;
            left: 121px;
            top: 400px;">

                Our quantitative analysis using Excel focuses on the frequency of migration-related terms appearing in
                national and regional news...

            </p>

            <br>

            <p class="paragraph4" style="position: absolute;
            width: 468px;
            height: 549px;
            left: 121px;
            top: 550px;">

                All files were kept in RTF format in order to be easily fed into Google’s Natural Language Processor for
                sentiment analysis. The NLP’s analysis will give two numbers regarding the article...

            </p>
        </div>


        <div class="col-sm"
            style="background-color: rgba(68, 152, 82, 0.4); position: absolute; width: 628px; height: 750px; left: 800px; top: 1000px;">

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- HTML !-->
            <input type="button" class="learnMoreButton" value="learn more about Methodology class">
            </button>
            <!-- style="background:#3C5A88;border-radius: 15px; position: relative; top: 100; left: 70; right: 40;" -->
        </div>

    </div>

    <div>

        <h3 class="VisualizingData" style="position: absolute; width: 300px; height: 44px; left: 121px;top: 1757px;">
            Visualizing Data</h3>
        <p class="paragraph5" style="position: absolute; width: 909px; height: 146px; left: 121px; top: 1807px;">
            Our research fills the gap by providing quantitative and qualitative examinations of around 4000 (n = 3,981)
            articles from 8 news agencies during 2010-2020.
            Three of our news agencies are national and other five are regional news, which represent the United States
            Northeast (New York Daily, Boston Globe), Midwest (The Capital Times,
            St. Louis Post-Dispatch), and West (Arizona Daily Star).
        </p>
    </div>

    <div>
        <h4 class="dataCollecting" style="position: absolute; width: 923px; height: 44px; left: 121px;top: 1994px;">Here
            are different ways to view our collected data</h4>
        <input type="button" class="newAgencies" value="New Agencies"
            style="position: absolute; width: 230px; height: 72px; left: 121px; top: 2065px;">
        <input type="button" class="wordUsage" value="Word Usage"
            style="position: absolute; width: 232px; height: 72px; left: 362px; top: 2065px;">
    </div>




</body>

</html>